<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <!-- 命名空间 -->
    <typeAliases>
        <!--<typeAlias alias="Stock" type="com.risk.dao.StockDao"/>-->
    </typeAliases>

    <!-- 映射map -->
    <mappers>
        <!--<mapper class="Stock" resource="com/risk/mapping/stock.xml" />-->
    </mappers>


</configuration>